.card {
  border: 2px solid black;
  height: 200px;
  margin-top: 50px;
  width: 180px;
  float: left;
  background-color: rgb(96, 242, 193);
  margin-left: 32px;
  border-radius: 25px;
  text-align: center;
}
