.card {
  border: 3px solid black;
  height: 200px;
  margin-top: 50px;
  width: 180px;
  float: left;
  background-color: rgb(86, 216, 173);
  margin-left: 32px;
  border-radius: 10px;
  text-align: center;
}
